body{
  background-image: url(image/leaves.jpg);
  background-size: cover;
}
 h1{
  color: white;
 }

 p{
  color: white;
 }

 input{
  background-color: green; /* Green */
  border: black solid;
  color: black solid;
  padding: 15px 32px;
  text-align: center;
  text-decoration: solid;
  display: inline-block;
  font-size: italic;
  border-radius: 12px;
}

